<!DOCTYPE html>
<html>
    <head>
        <title>List of Users</title>
        <h1>List of Users present</h1>
    </head>
    <body>
        <div class="tablee">
            <table border="3">
                <tr>
                    <th>EMail</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>AGE</th>
                    
                </tr>
            
            <% 
            if(userData.length > 0){
                userData.forEach(function (data) {
                
                %>
                <tr>
                    
                    
                    <td><%=data.email%></td>
                    <td><%=data.firstname%></td>
                    <td><%=data.lastname%></td>
                    <td><%=data.age%></td>
                    
                </tr>
                <%



                })
            }
            
            %>
        </table>
    </div>
    </body>
    <style>
        h1{
            align-content: center;
            text-align: center;
            color: whitesmoke;
            
        }
        body{
            background-color:rgb(138, 230, 207)
        }
        .tablee{
            width: 30%;
            align-content: center;
            margin: auto;
        }
        table{
            table-layout: auto;
            
            border-collapse: collapse;
           
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</html>